apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    email: ${ACME_EMAIL}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - selector:
          dnsZones:
            - ${DOMAIN}
        dns01:
          route53:
            region: ${REGION}
            hostedZoneID: ${HOSTED_ZONE_ID}
      - http01:
          ingress:
            class: nginx